// 박스 모양

// 그림자 있는 박스
@mixin ui-box() {
  box-shadow: var(--content-shadow);
  border: 1px solid var(---line-color);
  border-radius: 6px;
  background: var(--content-bg)
}

@mixin forms() {
  position: relative;
  display: inline-block;
  min-width: 24rem;
}