// input
$input: '.inputbox';
#{$input} {
    @include forms;
    @include ui-box;
    height: $form-height;
    padding-top: 2rem;
    overflow: hidden;
    &.is-active {
        border-color:cornflowerblue;
        #{$input}__label {
            top: 0;
        }
    }
    &__input {
        background: transparent;
    }
    &__label {
        position: absolute;
        top: 1.4rem;
        left: 1.6rem;
        color: $text-placeholder;
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}