// selectbox

.selectbox {
    @include forms;
    @include ui-box;
    &.is-active {
        .selectbox__options {
            display: block;
        }
    }
    &__btn {
        display: inline-block;
        width: 100%;
        height: $form-height;
    }
    &__label {
        position: absolute;
        top: 1.4rem;
        left: 1.6rem;
        color: $text-placeholder;
        line-height: 1.43; // 두줄이상 글씨 나중에 정리
        // z-index: -1;
    }
    &__options {
        display: none;
        position: absolute;
        top: $form-height + .8rem;
        left: 0;
        width: 100%;
        max-height: 20rem;
        overflow: hidden auto;
        padding: .8rem;
        @include ui-box;
    }
    &__option {
        display: block;
        padding: .8rem;
        color: $text-placeholder;
        line-height: 1.43;
        @include text-overflow;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            color: $text-color;
        }
    }
}