//
// Utility classes
// --------------------------------------------------
/* Utility classes */


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    position:absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    line-height:0;
    font-size: 0;
    text-indent:-9999em;
    overflow: hidden;
    visibility: hidden;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate
.hidden {
    display: none;
}


// For Affix plugin
// -------------------------
.affix {
    position: fixed;
}



// Text overflow with ellipsis
// -------------------------
.ell {
    @include text-overflow;
}


// scroll locking
// -------------------------
.lock {
    overflow: hidden;
}