//- DROPDOWN
mixin dropdown(msg='Choose one!', ...options)
    //- - var options = ['HTML', 'CSS/Sass', 'JavaScript', '.NET', 'C#', 'PHP']
    div.dropdown
        button(type="button").dropdown__btn
        span.dropdown__label= msg
        span.dropdown__options
            each option in options
                span.dropdown__option= option
    