extends templates/layout
include elements

append contents
    h2.invisible page title
    section.content
        //- h3 slider
        //- rangebar
        //- div.rangebar
        //-     input(type="range", min="0", max="100", step="5", value="75")
        //-     output
        //-     div.rangebar__progress
        //- //rangebar

        +selectbox('Choose language...', 'HTML', 'CSS/Sass', 'JavaScript', '.NET', 'C#', 'PHP', '말줄임 테스트 말줄임 테스트 말줄임 테스트')

        //- div.mt30
        //-     +rating()

        div.mt30
            +input()
        div.mt30
            +button('확인')
        div.mt30
            //- +switch('switch')
            label.switch 
                input.switch__input.btnThema(type="checkbox")
                span.switch__label switch
